@import "./Mixin.scss";

.wrapper {
   width: 1280px;
   margin: 0 auto;
   position: relative;
   height: 100%;

   .navbar {
      background-color: #000000;
      padding-top: 31px;

      .mr-auto a {
         color: #fff;
      }

      .navbar-toggler-icon {
         background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='%23FFFFFF' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
      }

   }


   .shop-cart {
      width: 469px;
      background-color: #000000;
      position: fixed;
      z-index: 20;
      right: 0;
      top: 121px;
      height: calc(100% - 127px);
      overflow-y: auto;
      color: #FFFFFF;

      .cart-header {
         display: flex;

         h2 {
            @include text-styles(36px, 600, 0);
         }
      }

      .order-summary {
         background-color: #222222;
         width: 469px;
         height: 167px;
         border-radius: 31px 31px 0 0;
         position: fixed;
         bottom: 0;

         .order-summary__button {
            button {
               background-color: #FCB852;
               border-radius: 63px;
               width: 410.38px;
               height: 65.86px;
            }
         }

         .order-summary__delivery {
            display: flex;

            &-title {
               @include text-styles(18px, 600, 0);
            }

            &-price {
               @include text-styles(18px, 600, 0);
            }
         }

      }

      .order {
         border-radius: 12px;
         background-color: #222222;
         margin: 15px;

         .order-price {
            display: flex;

            .quantity-control {
               border: 1px solid #FFFFFF;
               border-radius: 50%;
            }
         }

         .order-info {
            display: flex;
            justify-content: space-around;
            border-bottom: 1px solid #000000;

            .order-info__img {
               width: 43.126px;
               height: 47.19px;
               background-color: #303030;
               border-radius: 4.26px;
               display: flex;
               justify-content: center;
               align-items: center;
            }

            .order-info__text {
               .order-info__text-title {
                  display: flex;

                  h2 {
                     font-size: 18px;
                  }
               }

               p {
                  font-size: 13px;
               }
            }
         }

         .delete-icon {
            img {
               transition: transform 0.3s ease-in-out;
               cursor: pointer;
            }

            &:hover img {
               transform: scale(1.5);
            }
         }
      }

      .empty {
         color: #fff;
         text-align: center;
         padding: 20px;
      }
   }

   .basket {
      color: #fff;
      display: flex;
      align-items: center;
      width: 117px;
      height: 27px;
      border: 1px solid #FFFFFF;
      border-radius: 21px;
      box-sizing: border-box;

      .basket__quantity {
         background-color: #D71515;
         height: 19px;
         width: 19px;
         border-radius: 50%;
         margin-left: 4px;
      }

      .basket__quantity div {
         font-size: 12px;
         font-weight: bold;
         text-align: center;
      }

      .basket__sum {
         margin: 0 auto
      }
   }
}