@use "./Mixin" as *;


.main {
   text-align: center;
   font-family: "Montserrat", serif;

   h1 {
      color: #FFFFFF;
      margin: 93px 0 71px 14px;
      @include text-styles(20px, 500, -8px);
   }
}

.containerCustom {
   display: grid;
   grid-template-columns: repeat(4, 296px);
}