@use "./Mixin" as *;

.item {
   .itemTitleAndSubtitle {
      margin-top: 19px;
      margin-left: 2px;

      h2 {
         color: #FFFFFF;
         margin-bottom: 0;
         @include text-styles(24px, 600, 0);
         line-height: 24px;
      }

      .item-subtitle {
         margin-top: -5px;
      }
   }

   p {
      @include text-styles(13px, 500, 0);
      margin: 19px 0 0 3px;
      color: gray;
   }

   .priceContainer {
      cursor: pointer;
      padding: 32px 0;
      margin: 19px 0 52px 0;
      border-radius: 32px;

      &:hover {
         border: 2px solid white;
         margin: 19px 0 48px 0;
      }

      .itemPrice {
         @include price-incart;
         @include text-styles(18px, 600, 0);
         opacity: 1;
         bottom: 12.2%;
         letter-spacing: 0.12px;
      }


      &:hover {
         .itemPrice {
            opacity: 0;
         }

         .inCart {
            opacity: 1;
         }
      }

      .inCart {
         @include price-incart;
         @include text-styles(16px, 500, 0);
         opacity: 0;
         left: 24.75%;
         bottom: 12.1%;
      }
   }
}


.item-1 {
   transform: translateX(-2px);
}

.item-2 {
   transform: translateX(29px);
}

.item-3 {
   transform: translateX(61px);
}

.item-4 {
   transform: translateX(92px);
}

.item-5 {
   margin-bottom: 40px;
   transform: translateX(-2px);
}

.item-6 {
   margin-bottom: 40px;
   transform: translateX(29px);
}

.item-7 {
   margin-bottom: 40px;
   transform: translateX(61px);
}

.item-8 {
   margin-bottom: 40px;
   transform: translateX(92px);
}