@import "./Mixin.scss";

html,
body {
   height: 100%;
   background-color: #000000;
}

.swiper-slide img {
   display: block;
   padding-left: 30px;
   position: relative;
   z-index: 1;
}

.smile {
   top: -1%;
   left: 5.4%;
   @include wh(263px, 263px);
   @include posa(7);
}


.sliderWrapper {
   margin: 108px 0 0 -7px;
   border-radius: 24.44px;
   background-color: #222222;
   padding-left: 37px;
   position: relative;
   @include wh(1276px, 503px);
}

.bullet {
   background-color: gray;
   cursor: pointer;
   @include wh(9px, 9px);
}

.prevButton {
   left: 0.66%;
   @include sbtn;
}

.nextButton {
   right: 0.71%;
   @include sbtn;
}

.customPagination {
   margin: 10px 0 0 46.48%;
}